<h1>Add a new movie</h1>

<form action="/create_movie">
  <div>
    <label for="source_image_url">
      Image url
    </label>

    <input id="source_image_url" type="text" name="the_image_url">
  </div>

  <div>
    <label for="title_input">
      Title
    </label>

    <input id="title_input" type="text" name="the_title">
  </div>

  <div>
    <label for="year_input">
      Year
    </label>

    <input id="year_input" type="text" name="the_year">
  </div>

  <div>
    <label for="duration_input">
      Duration
    </label>

    <input id="duration_input" type="text" name="the_duration">
  </div>

  <div>
    <label for="description_input">
      Description
    </label>

    <input id="description_input" type="text" name="the_description">
  </div>

  <button>
      <label for="button_input">
    Create movie
    </label>
    <input id="button_input">
  </button>
</form>
