<h1>Add a new actor</h1>

<form action="/create_actor">
  <div>
    <label for="source_image_url">
      Image url
    </label>

    <input id="source_image_url" type="text" name="the_image_url">
  </div>

  <div>
    <label for="name_input">
      Name
    </label>

    <input id="name_input" type="text" name="the_name">
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <input id="bio_input" type="text" name="the_bio">
  </div>

  <div>
    <label for="dob_input">
      Dob
    </label>

    <input id="dob_input" type="text" name="the_dob">
  </div>

  <button>
      <label for="button_input">
    Create actor
    </label>
    <input id="button_input">
  </button>
</form>